In [47]:
import pandas as pd
from fpdf import FPDF

In [50]:
df = pd.read_csv("hf://datasets/DevashishBhake/resume_section_classification/resume_dataset.csv")
df.head()

   ID Category                                             Resume
0   1       HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1   2       HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2   3       HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3   4       HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4   5       HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...

In [ ]:
# Preprocessing the Resume data
df['Resume'] = df['Resume'].str.replace('\r', ' ')

In [ ]:
df.iloc[0,2].decode('utf-8',

AttributeError: 'str' object has no attribute 'decode'

In [48]:
clean_data = df.iloc[0,2].replace("\xe2\x80\x93", "-")  # Example of replacing an encoding artifact

# You can apply further processing steps here, for instance:
clean_data = clean_data.replace("\n\n", "\n")  # Replace double newlines with single newlines for cleaner format

# Convert to DataFrame if needed
df = pd.DataFrame({'Content': [clean_data]})

# Initialize PDF object
pdf = FPDF()
pdf.set_auto_page_break(auto=True, margin=15)
pdf.add_page()

# Set font for the document
pdf.set_font("Arial", size=12)

# Add content to PDF
for index, row in df.iterrows():
    pdf.multi_cell(0, 10, row['Content'])

# Save the PDF to file
pdf_output = "output_resume.pdf"
pdf.output(pdf_output)

print(f"PDF saved as {pdf_output}")

PDF saved as output_resume.pdf